# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
venv/

# IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Logs
logs/
*.log

# Raw dataset
data/raw/*
!data/raw/*.dvc

# Other data
data/interim/
data/processed/
artifacts/

# Environment
.env

# MLflow
mlruns/

# DVC
.dvc/cache/

# OS Files
.DS_Store
Thumbs.db